<a href="https://colab.research.google.com/github/ukhyun-lee/stock_market_analysis/blob/main/%EC%A4%91%EA%B8%89/3%EC%9D%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#pandas = (de facto) wrangling tool in python

#표준
- 1. standard
- 2. de facto
- 3. recommendation

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('sample_data/literary_birth_rate.csv', sep=';')  #=> sep 없으면 잘못 불러짐

In [ ]:
data

                 Country  Continent  female literacy  fertility     population
0                   Chine       ASI             90.5      1.769  1,324,655,000
1                    Inde       ASI             50.8      2.682  1,139,964,932
2                     USA       NAM             99.0      2.077    304,060,000
3               Indonésie       ASI             88.8      2.132    227,345,082
4                  Brésil       LAT             90.2      1.827    191,971,506
..                    ...       ...              ...        ...            ...
157               Vanuatu       OCE             79.5      3.883        233,866
158                 Samoa       OCE             98.5      3.852        178,869
159  Sao Tomé-et-Principe        AF             83.3      3.718        160,174
160                 Aruba       LAT             98.0      1.732        105,455
161                 Tonga       ASI             99.1      3.928        103,566

[162 rows x 5 columns]

In [ ]:
data.head()

    Country  Continent  female literacy  fertility     population
0      Chine       ASI             90.5      1.769  1,324,655,000
1       Inde       ASI             50.8      2.682  1,139,964,932
2        USA       NAM             99.0      2.077    304,060,000
3  Indonésie       ASI             88.8      2.132    227,345,082
4     Brésil       LAT             90.2      1.827    191,971,506

In [ ]:
data.tail()

                 Country  Continent  female literacy  fertility population
157               Vanuatu       OCE             79.5      3.883    233,866
158                 Samoa       OCE             98.5      3.852    178,869
159  Sao Tomé-et-Principe        AF             83.3      3.718    160,174
160                 Aruba       LAT             98.0      1.732    105,455
161                 Tonga       ASI             99.1      3.928    103,566

In [ ]:
data.sample()

    Country  Continent  female literacy  fertility population
144   Chypre       EUR             96.7      1.516    862,434

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          162 non-null    object
 1   Continent        162 non-null    object
 2   female literacy  162 non-null    float64
 3   fertility        162 non-null    float64
 4   population       162 non-null    object
dtypes: float64(2), object(3)
memory usage: 6.5+ KB

In [ ]:
data.columns #=> 칼럼이름에 공백 존재

Index(['Country ', 'Continent', 'female literacy', 'fertility', 'population'], dtype='object')

In [ ]:
data['Country ']

0                     Chine
1                      Inde
2                       USA
3                 Indonésie
4                    Brésil
               ...
157                 Vanuatu
158                   Samoa
159    Sao Tomé-et-Principe
160                   Aruba
161                   Tonga
Name: Country , Length: 162, dtype: object

In [ ]:
data.rename(columns={'Country ':'Country'}, inplace=True)

In [ ]:
data

                  Country Continent  female literacy  fertility     population
0                   Chine       ASI             90.5      1.769  1,324,655,000
1                    Inde       ASI             50.8      2.682  1,139,964,932
2                     USA       NAM             99.0      2.077    304,060,000
3               Indonésie       ASI             88.8      2.132    227,345,082
4                  Brésil       LAT             90.2      1.827    191,971,506
..                    ...       ...              ...        ...            ...
157               Vanuatu       OCE             79.5      3.883        233,866
158                 Samoa       OCE             98.5      3.852        178,869
159  Sao Tomé-et-Principe        AF             83.3      3.718        160,174
160                 Aruba       LAT             98.0      1.732        105,455
161                 Tonga       ASI             99.1      3.928        103,566

[162 rows x 5 columns]

In [ ]:
pd.to_numeric(data.population, errors='coerce') # ignore, coerce

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
157   NaN
158   NaN
159   NaN
160   NaN
161   NaN
Name: population, Length: 162, dtype: float64

In [ ]:
#object dtype > .str 문자열 메소드 사용 가능

In [ ]:
data.population.str.replace(',','')

0      1324655000
1      1139964932
2       304060000
3       227345082
4       191971506
          ...
157        233866
158        178869
159        160174
160        105455
161        103566
Name: population, Length: 162, dtype: object

In [ ]:
data['population'] = pd.to_numeric(data.population.str.replace(',',''), errors='coerce')

In [ ]:
data.dtypes

Country             object
Continent           object
female literacy    float64
fertility          float64
population           int64
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          162 non-null    object
 1   Continent        162 non-null    object
 2   female literacy  162 non-null    float64
 3   fertility        162 non-null    float64
 4   population       162 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 6.5+ KB

#고급

In [ ]:
import locale
from locale import atof

In [ ]:
data = pd.read_csv('sample_data/literary_birth_rate.csv', sep=';')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          162 non-null    object
 1   Continent        162 non-null    object
 2   female literacy  162 non-null    float64
 3   fertility        162 non-null    float64
 4   population       162 non-null    object
dtypes: float64(2), object(3)
memory usage: 6.5+ KB

In [ ]:
locale.setlocale(locale.LC_NUMERIC,'')

'en_US.UTF-8'

In [ ]:
data.population.map(atof).astype('int64')

0      1324655000
1      1139964932
2       304060000
3       227345082
4       191971506
          ...
157        233866
158        178869
159        160174
160        105455
161        103566
Name: population, Length: 162, dtype: int64

In [ ]:
data = pd.read_csv('sample_data/literary_birth_rate.csv', sep=';', thousands=',')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          162 non-null    object
 1   Continent        162 non-null    object
 2   female literacy  162 non-null    float64
 3   fertility        162 non-null    float64
 4   population       162 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 6.5+ KB

In [ ]:
100,000

(100, 0)

In [ ]:
100_000

100000

In [ ]:
# 숫자 안에 _ 사람이 이해하기 쉬운 구분자 역할

In [ ]:
data

                 Country  Continent  female literacy  fertility  population
0                   Chine       ASI             90.5      1.769  1324655000
1                    Inde       ASI             50.8      2.682  1139964932
2                     USA       NAM             99.0      2.077   304060000
3               Indonésie       ASI             88.8      2.132   227345082
4                  Brésil       LAT             90.2      1.827   191971506
..                    ...       ...              ...        ...         ...
157               Vanuatu       OCE             79.5      3.883      233866
158                 Samoa       OCE             98.5      3.852      178869
159  Sao Tomé-et-Principe        AF             83.3      3.718      160174
160                 Aruba       LAT             98.0      1.732      105455
161                 Tonga       ASI             99.1      3.928      103566

[162 rows x 5 columns]

In [ ]:
data.Continent

0      ASI
1      ASI
2      NAM
3      ASI
4      LAT
      ...
157    OCE
158    OCE
159     AF
160    LAT
161    ASI
Name: Continent, Length: 162, dtype: object

In [ ]:
data.Continent.value_counts()   # damain Knowledge  #*****중요

AF     49
ASI    47
EUR    36
LAT    24
OCE     4
NAM     2
Name: Continent, dtype: int64

In [ ]:
data.Country.value_counts()

Chine           1
Lituanie        1
Finland         1
Kirghizistan    1
Turkménistan    1
               ..
Cameroun        1
Angola          1
Chili           1
Netherlands     1
Tonga           1
Name: Country, Length: 162, dtype: int64

# data validation

In [ ]:
data['female literacy']

0      90.5
1      50.8
2      99.0
3      88.8
4      90.2
       ...
157    79.5
158    98.5
159    83.3
160    98.0
161    99.1
Name: female literacy, Length: 162, dtype: float64

In [ ]:
data['female literacy'].value_counts()

99.0    15
99.7     4
91.5     3
98.5     3
95.9     3
        ..
40.1     1
42.8     1
59.3     1
80.2     1
83.3     1
Name: female literacy, Length: 116, dtype: int64

In [ ]:
data['female literacy'].describe()   #**중요

count    162.000000
mean      80.107407
std       23.052415
min       12.600000
25%       66.425000
50%       90.000000
75%       98.500000
max      100.000000
Name: female literacy, dtype: float64

In [ ]:
data['fertility'].describe()

count    162.000000
mean       2.878673
std        1.427597
min        0.966000
25%        1.823250
50%        2.367500
75%        3.880250
max        7.069000
Name: fertility, dtype: float64

In [ ]:
data.sort_values('fertility', ascending=False)

,Country,Continent,female literacy,fertility,population
62,Niger,AF,15.1,7.069,14704318
39,Afghanistan,ASI,12.6,6.505,29021099
36,Ouganda,AF,66.8,6.254,31656865
72,Tchad,AF,21.9,6.081,10913667
19,Rép. Démocratique du Congo,AF,56.1,5.908,64256635
...,...,...,...,...,...
9,Japan,ASI,99.0,1.262,127704000
152,Malte,EUR,93.5,1.251,411950
25,South Korea,ASI,96.6,1.224,48607000
118,Bosnie-Herzégovine,EUR,95.9,1.212,3773100
149,"Macao, Chine",ASI,90.7,0.966,526178

In [ ]:
data.describe()

       female literacy   fertility    population
count       162.000000  162.000000  1.620000e+02
mean         80.107407    2.878673  4.068708e+07
std          23.052415    1.427597  1.409695e+08
min          12.600000    0.966000  1.035660e+05
25%          66.425000    1.823250  3.368292e+06
50%          90.000000    2.367500  9.707404e+06
75%          98.500000    3.880250  2.882991e+07
max         100.000000    7.069000  1.324655e+09

In [ ]:
data.describe(include=['float64'])

       female literacy   fertility
count       162.000000  162.000000
mean         80.107407    2.878673
std          23.052415    1.427597
min          12.600000    0.966000
25%          66.425000    1.823250
50%          90.000000    2.367500
75%          98.500000    3.880250
max         100.000000    7.069000

In [ ]:
data.describe(include=['object'])

       Country Continent
count      162       162
unique     162         6
top      Chine        AF
freq         1        49

In [ ]:
data.describe(include='all')

       Country Continent  female literacy   fertility    population
count      162       162       162.000000  162.000000  1.620000e+02
unique     162         6              NaN         NaN           NaN
top      Chine        AF              NaN         NaN           NaN
freq         1        49              NaN         NaN           NaN
mean       NaN       NaN        80.107407    2.878673  4.068708e+07
std        NaN       NaN        23.052415    1.427597  1.409695e+08
min        NaN       NaN        12.600000    0.966000  1.035660e+05
25%        NaN       NaN        66.425000    1.823250  3.368292e+06
50%        NaN       NaN        90.000000    2.367500  9.707404e+06
75%        NaN       NaN        98.500000    3.880250  2.882991e+07
max        NaN       NaN       100.000000    7.069000  1.324655e+09

In [ ]:
pd.read_parquet

In [ ]:
#performance : Excel < pandas < SQL
#learning curve : Excel > pandas > SQL